.navigation {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--color-light-green);
  font-family: "Concert One", cursive !important;
}

.navigation img {
  width: 2.8rem;
  scale: 3;
}

.navigation a {
  color: var(--color-dark-green);
  font-size: 2.1rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  margin: 0 0.5rem;
}

.navigation a:hover {
  background-color: var(--color-dark-green-hover);
  color: var(--color-light-green);
}

[aria-current="page"] {
  background-color: var(--color-dark-green);
  color: var(--color-light-green) !important;
}
