.wrapper {
  height: 100vh;
  background-color: var(--color-dark-green);
}

.details {
  background-color: var(--color-dark-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details h1 {
  margin: 5rem 0;
  font-size: 6rem;
  color: var(--color-light-green-hover);
}

.details div {
  width: 100vw;
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.25)),
    url("../../assets/404.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.details p {
  font-size: 2.5rem;
  color: var(--color-light-green);
  margin-top: 5rem;
}
